:root{
    --desaturatedRed: hsl(0, 36%, 70%);
    --softRed: hsl(0, 93%, 68%);
    --darkGrayishRed: hsl(0, 6%, 24%);
    --first: hsl(0, 0%, 100%);
    --linearfirst: hsl(0, 100%, 98%);
    --second: hsl(0, 80%, 86%);
    --linearSecond: hsl(0, 74%, 74%);
}
/*
### Gradients
- Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)
*/

body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    background-image: linear-gradient(to right bottom, #ffffff, #fefdfe, #fefafc, #fff7f9, #fff5f5);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    flex-direction: column;
    width: 24rem;
    height: 44rem;
}
.logo{
    display: inline-block;
    height: 22px;
    background-image: url('./images/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin: 28px;
}
.img-main{
    max-width: 100%;
    height: 260px;
    background: url('./images/hero-mobile.jpg');
}
.info-ca-container{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 80%;
    justify-content: center;
    align-self: center;
}
.coming-soon-text{
    margin-top: 60px;
    font-size: 40px;
    text-align: center;
    letter-spacing: 10px;
    margin-bottom: 14px;
    position: relative;
}
.coming-soon-text span{
    font-weight: 300;
    color: var(--desaturatedRed);
}
.info-ca-container p{
    color: var(--desaturatedRed);
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
    margin-bottom: px;
}
.email-ca{
    background-color: inherit;
    border: 1px solid var(--desaturatedRed);
    text-decoration: none;
    padding: 14px;
    width: 17rem;
    border-radius: 30px;
    outline: none;
}
.email-ca::placeholder{
    color: var(--desaturatedRed);
}
.container-ca-main{
    position: relative;
}
.arrow-ca-container{
    background-image: linear-gradient(to right, #f8bfbf, #f6b2b2, #f4a6a5, #f19999, #ee8c8c);
    height: 46px;
    width: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    position: absolute;
    right: -14px;
    bottom: 0px;
}
.arrow-ca-logo{
    display: inline-block;
    background-image: url('./images/icon-arrow.svg');
    min-height:20px;
    min-width: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}

@media (min-width: 900px){
    main{
        display: grid;
        min-width: 60rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 12rem 1fr;
        padding: 40px;
    }
    .logo{
        margin-left: 0;
    }
    .img-main{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        background-image: url('./images/hero-desktop.jpg');
        height: 100%;
        width: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        border: 0;
    }
    .info-ca-container{
        align-self: start;
        justify-self: start;
    }
    .coming-soon-text{
        text-align: left;
        font-size: 60px;
    }
    .info-ca-container p{
        text-align: left;
        margin-bottom: 40px
    }
    .email-ca{
        width: 22rem;
    }
    .arrow-ca-container{
        bottom: 0;
        right: -8px;
    }
}
