:root{
    --desaturatedRed: hsl(0, 36%, 70%);
    --softRed: hsl(0, 93%, 68%);
    --darkGrayishRed: hsl(0, 6%, 24%);
    --first: hsl(0, 0%, 100%);
    --linearfirst: hsl(0, 100%, 98%);
    --second: hsl(0, 80%, 86%);
    --linearSecond: hsl(0, 74%, 74%);
}
/*
### Gradients
- Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)
*/