:root{
    --desaturatedRed: hsl(0, 36%, 70%);
    --softRed: hsl(0, 93%, 68%);
    --darkGrayishRed: hsl(0, 6%, 24%);
    --first: hsl(0, 0%, 100%);
    --linearfirst: hsl(0, 100%, 98%);
    --second: hsl(0, 80%, 86%);
    --linearSecond: hsl(0, 74%, 74%);
}
/*
### Gradients
- Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)
*/

body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    background-image: linear-gradient(to right bottom, #ffffff, #fefdfe, #fefafc, #fff7f9, #fff5f5);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60rem;
}
.logo{
    display: inline-block;
    height: 22px;
    background-image: url('./images/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin: 28px;
}
.img-main{
    max-width: 100%;
    height: 260px;
}
.info-ca-container{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 80%;
    justify-content: center;
    align-self: center;
}
.coming-soon-text{
    margin-top: 60px;
    font-size: 40px;
    text-align: center;
    letter-spacing: 10px;
    margin-bottom: 14px;
    position: relative;
}
.coming-soon-text span{
    font-weight: 300;
    color: var(--desaturatedRed);
}
.info-ca-container p{
    color: var(--desaturatedRed);
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
    margin-bottom: px;
}
.email-ca{
    background-color: inherit;
    border: 1px solid var(--desaturatedRed);
    text-decoration: none;
    padding: 14px;
    width: 17rem;
    border-radius: 30px;
    outline: none;
}
.email-ca::placeholder{
    color: var(--desaturatedRed);
}
.arrow-ca-container{
    background-image: linear-gradient(to right, #f8bfbf, #f6b2b2, #f4a6a5, #f19999, #ee8c8c);
    height: 48px;
    width: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    position: absolute;
    bottom: 144px;
    right: 36px;
}
.arrow-ca-logo{
    display: inline-block;
    background-image: url('./images/icon-arrow.svg');
    min-height:20px;
    min-width: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}